@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 10rem;
    margin: 5rem;
}

p{
    margin: 0;
}

.texto-bom{
    font-size: 5rem;
}

#btn{
    background-color: #a09ad6;
    border: none;
    color: #383366;
    border-radius: 2px;
    width: 80px;
    height: 40px;
    font-size: 17px;
    transition: 1s;
    cursor: pointer;
}

#label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    color: #fff;
    text-align: center;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#more{
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    font-family: 'Inter', sans-serif;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
}

#icone{
    margin: 15px;
    color: #ffa600;
    transition: 0.2s;
}

#icone:hover{
    opacity: 60%;
}
.cssload-container {
    background-color: #282828;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.cssload-double-torus {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border: 10px double;
	border-radius: 50%;
	border-color:#ffa600 #000000;
	animation: cssload-spin 600ms infinite linear;
		-o-animation: cssload-spin 600ms infinite linear;
		-ms-animation: cssload-spin 600ms infinite linear;
		-webkit-animation: cssload-spin 600ms infinite linear;
		-moz-animation: cssload-spin 600ms infinite linear;
}

@media screen and (max-width: 553px){   
    header{
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-size: 6rem;
        text-align: center;
    }
    section{
        display: flex;
        flex-direction: column;
        width: 250px;
        font-size: 2rem;
    }

    #bom{
        font-size: 2rem;
    }

    #msg{
        font-size: 5rem;
    }

    a{
        font-size: 25px;
    }

    footer{
        font-size: 1rem;
    }

    #dados{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@keyframes rainbow {
    0% { border: 2px solid red; }
    16.67% { border: 2px solid rgb(255, 165, 0); }
    33.33% { border: 2px solid rgb(255, 255, 0); }
    50% { border: 2px solid rgb(0, 128, 0); }
    66.67% { border: 2px solid rgb(0, 0, 255); }
    83.33% { border: 2px solid rgb(75, 0, 130); }
    100% { border: 2px solid red; }
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}